h1 {
    text-align: center;
    background-color: #5c3a1e;
    color: whitesmoke;
    padding-top: 15px;
    padding-bottom: 10px;
}

body {
    background-color: #d4a017;
    margin-top: -25px;
    margin-left: -2.5px;
    margin-right: -2.5px;
    
}

h2 {
    color: #5c3a1e;
    margin-right: 5px;
    margin-left: 5px;
}

ul {
    color: black;
    text-align: left;
}

div {
    width: 250px;
    height: 240px;
    background-color: whitesmoke;
    border: 4px solid #5c3a1e;
    padding-left: 10px;
    padding-left: 10px;
    text-align: center;
    border-radius: 25px;
    margin : 25px;
    background-image: url(/photos/Backgroud_egypt.jpg);
    background-size: cover;
}

.main1 {
    display:flex;
    flex-wrap: wrap;
    justify-content: space-around;
    text-align: justify;
}

pre {
    background-color: red;
    color: whitesmoke;
    margin-top: -23px;
    padding: 9px;
}

#Change {
    text-decoration: none;
    color: rebeccapurple;
}